---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Frontend Mentors - Article Preview Component</title>
  </head>
  <body>
    <main></main>
  </body>
</html>

<style>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  html {
  }

  body {
  }

  main {
  }
</style>
